@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  background-color: #131520;
  margin: 0;
  display: flex;
  align-items: flex-start;
  min-width: 320px;
  min-height: 100vh;
  color: white;
  text-decoration: none;
}

#movieOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(
    to right,
    rgba(19, 21, 32, 1),
    rgba(19, 21, 32, 0.9),
    rgba(19, 21, 32, 0.2),
    rgba(19, 21, 32, 0.05),
    rgba(19, 21, 32, 0)
  );
}

#registrationOverlayDesktop {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(
    to right,
    rgba(19, 21, 32, 0.95),
    rgba(19, 21, 32, 0.9),
    rgba(19, 21, 32, 0.25),
    rgba(19, 21, 32, 0),
    rgba(19, 21, 32, 0)
  );
}

#registrationOverlay {
  background-color: rgba(0, 0, 0, 0.35);
  background-image: linear-gradient(
    to top,
    rgba(19, 21, 32, 0.95),
    rgba(19, 21, 32, 0.5),
    rgba(19, 21, 32, 0),
    rgba(19, 21, 32, 0)
  );
}

#registerModal {
  height: 100% !important;
  min-height: fit-content;
}
